/* general start */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;

    min-width: 1225px;
    min-height: 625px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
h3{
    font-size: 24pt;
    font-weight: normal;
    margin: auto auto 10px auto;
}
.pipeAfter:after{
    margin: 0 20px 0 20px;
    width: 1px;
    height: 22px;
    content: " ";
    border-left: 1px solid #656565;
}
.searchIcon{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url("images/search.png") no-repeat left;
    border-radius: 10px 0 10px 0;
}
.searchIcon:hover{
    background-position: right;
    cursor: pointer;
}
.searchInput{
    height: 15px;
    width: 150px;
    padding-left: 5px;
    font-family: inherit;
    font-size: 11pt;
    color: inherit;
    border-radius: 10px;
    border: 0;
    background: #363636;
}
nav ul{
    padding: 0;
}
nav ul li{
    list-style-type: none;
}
.spacer{
    height: 100%;
}
/* general end */

/* left Col start */
.leftCol{
    position: relative;
    text-align: center;
    float: left;
    width: 15%;
    height: 100%;
    background: #fff;
}
.leftCol .logo{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}
.leftCol nav{
    position: absolute;
    width: 100%;
    top: 35%;
    color: #818286;
    font-size: 12pt;
}
.leftCol .leftCol_menu li{
    margin-top: 8%;
}
.leftCol .leftCol_menu li:last-of-type{
    margin-top: 20%;
}
.leftCol_menu .active{
    text-decoration: underline;
}
.leftCol .leftCol_footer{
    position: absolute;
    width: 100%;
    bottom: 5%;
    font-size: 14pt;
    color: #252525;
}
.leftCol .social img{
    display: inline-block;
    margin-top: 10px;
    /*margin: 15px 5px 0 0;*/
}
/* left Col end */

/* ----------- right Col start ----------- */

.rightCol{
    position: relative;
    float: right;
    width: 85%;
    height: 100%;
    background: #d5d5d5; /* Old browsers */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d5d5d5), color-stop(100%,#a9a9a9)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #d5d5d5 0%,#a9a9a9 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-radial-gradient(center, ellipse cover,  #d5d5d5 0%,#a9a9a9 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #d5d5d5 0%,#a9a9a9 100%); /* W3C */
}

/* header start */
.generalHeader{
    height: 5%;
    min-height: 25px;
    padding-right: 35px;
    color: #7c7c7c;
    text-align: right;
    font-size: 11pt;
    background: #242424;
}
.generalHeader *{
    display: inline-block;
    vertical-align: middle;
}
/* header end*/

/* article start */
.generalArticle{
    position: relative;
    height: 85%;
    overflow: hidden;
}
.general_menu {
    text-align: right;
}
.general_menu li{
    display: inline-block;
    font-size: 28pt;
    color: #252525;
    text-shadow: 3px 3px 5px #777;
    margin: 1% 2.5% auto auto;
}
.general_menu li.active{
    font-weight: bold;
}
/* Time Line */
.timeLine{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    background: url("images/bckg_timeline.png") repeat-x center;
}
.timeLine *{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.timeLine .prev:hover,
.timeLine .date:hover,
.timeLine .next:hover{
    cursor: pointer;
    background-position: right;
}
.timeLine .prev{
    width: 53px;
    background: url("images/prev.png") no-repeat left;
    border-radius: 0 50px 50px 0;
}
.timeLine .date{
    position: absolute;
    width: 102px;
    background: url("images/date.png") no-repeat left;
    border-radius: 55px;
}
.timeLine .date span{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24pt;
    padding-top: 10px;
}
.timeLine .between{
    position: absolute;
    top: 27px;
    height: 51px;
    width: 51px;
    background: url("images/date.png") no-repeat left;
    border-radius: 55px;
}

.timeLine .date.first{
    left: 10%;
}
.timeLine .between.first{
    left: 30%;
}
.timeLine .date.second{
    left: 47%;
}
.timeLine .between.second{
    /*left: 67%;*/
    right: 30%;
}
.timeLine .date.third{
    /*left: 84%;*/
    right: 10%;
}
.timeLine .next{
    position: absolute;
    right: 0;
    width: 53px;
    background: url("images/next.png") no-repeat left;
    border-radius: 50px 0 0 50px;
}

/* Posts */
.generalArticle .latest{
    width: 45%;
    height: 100%;
    border-left: 2px dotted #8d9f9a;
    overflow: hidden;
}
.generalArticle .latest .spacer{
    width: 3%;
}
.generalArticle .latest *:not(H3){
    display: inline-block;
    vertical-align: middle;
}
.generalArticle .latest .preview{
    width: 25%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 3%;
}
.generalArticle .latest article{
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.news_topCol{
    position: relative;
    width: 100%;
    height: 30%;
    margin: 2% auto 0 auto;
}
.secondPost{
    position: absolute;
    left: 47%;
    bottom: 0;
    margin: auto auto 0 51px;
}
.news_bottomCol{
    position: relative;
    width: 100%;
    height: 30%;
    white-space: nowrap;
}
.firstPost{
    position: absolute;
    left: 10%;
    white-space: normal;
    margin: 0 auto auto 51px;
}
.news_bottomCol > .spacer{
    position: absolute;
    right: 10%;
    border-left: 2px dotted #8d9f9a;
    margin: 0 51px auto auto;
}
.thirdPost{
    position: absolute;
    /*left: 84%;*/
    right: -32%;
    white-space: normal;
    margin: 0 auto auto 51px;
    border-left: none !important;
}
/* article end */

/* footer start */
.generalFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    min-height: 80px;
    background: #252525;
    clear: right;
    font-size: 9pt;
    color: #6e6e6e;
}
.generalFooter div{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* footer end */
