/* general start */
html{
    height: 99%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
/* general end */

/* left Col start */
.leftCol{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100%;
    background: #fff;
}
.leftCol .logo{
    margin-top: 25%;
}
.leftCol .leftCol_menu{
    height: 45%;
    margin-top: 60px;
    color: #9c9c9c;
    font-size: 12pt;
}
.leftCol .leftCol_menu ul{
    padding: 0;
    margin: 0 0 100px 0;
}
.leftCol .leftCol_menu ul li{
    list-style-type: none;
    line-height: 35px;
}
.leftCol .leftCol_footer{
    margin-top: 20px;
    font-size: 14pt;
    color: #5b5b5b;
}
.leftCol .leftCol_footer a:first-of-type:after{
    margin: 0 5px 0 5px;
    content: "|";
}
.leftCol .social{
    white-space: nowrap;
    margin-top: 15px;
}
.leftCol .social img{
    display: inline-block;
    margin-right: 5px;
}
/* left Col end */

/* ----------- right Col start ----------- */

.rightCol{
    position: relative;
    display: inline-block;
    width: 84%;
    height: 100%;
}

/* header start */

header{
    height: 10%;
    background: #a0a0a0;
}
header .topCol{
    height: 50%;
    background: #000;
}

/* header end*/

article{
    height: 80%;
    background: #a0a0a0;
}

footer{
    height: 11%;
    background: #000;
}
