/* general start */
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
h3{
    font-size: 24pt;
    font-weight: normal;
    margin: 0 auto 10px auto;
}
.pipeAfter:after{
    margin: 0 15px 0 20px;
    width: 1px;
    height: 22px;
    content: "";
    border: 1px solid #656565;
}
.searchIcon{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url("images/search.png") no-repeat left;
    border-radius: 10px 0 10px 0;
}
.searchIcon:hover{
    background-position: right;
    cursor: pointer;
}
.searchInput{
    height: 15px;
    width: 150px;
    padding: 0 0 0 5px;
    font-family: inherit;
    font-size: 11pt;
    color: inherit;
    border-radius: 10px;
    border: 0;
    background: #363636;
}
nav ul{
    padding: 0;
}
.spacer{
    height: 100%;
}
/* general end */

/* left Col start */
.leftCol{
    height:100%;
    width: 15%;
    min-width: 110px;
    position: relative;
    text-align: center;
    float: left;
    background: #fff;
}
.leftCol .logo{
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
}
.leftCol nav{
    position: absolute;
    width: 100%;
    top: 35%;
    color: #818286;
    font-size: 12pt;
}
.leftCol .leftCol_menu li{
    list-style-type: none;
    margin-top: 8%;
}
.leftCol .leftCol_menu li:last-of-type{
    margin-top: 20%;
}
.leftCol_menu .current_page_item{
    text-decoration: underline;
}
.leftCol-footer{
    position: absolute;
    width: 100%;
    bottom: 5%;
    font-size: 14pt;
    color: #252525;
}
.leftCol leftCol-footer .social img{
    display: inline-block;
    margin-top: 10px;
}
/* left Col end */

/* ----------- right Col start ----------- */

.rightCol{
    position: relative;
    float: right;
    width: 85%;
    height: 100%;
    zoom: 1;
    background: #d5d5d5; /* Old browsers */
    background: -webkit-radial-gradient(center, ellipse cover,  #d5d5d5 15%,#a9a9a9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #d5d5d5 15%,#a9a9a9 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #d5d5d5 15%,#a9a9a9 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #d5d5d5 15%,#a9a9a9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#a9a9a9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

/* header start */
.generalHeader{
    height: 5%;
    min-height: 25px;
    padding-right: 35px;
    color: #7c7c7c;
    text-align: right;
    font-size: 11pt;
    background: #242424;
}
.generalHeader *{
    display: inline-block;
    vertical-align: middle;
}
/* header end*/

/* article start */
.generalArticle{
    position: relative;
    height: 87%;
    overflow: hidden;
}
.general_menu {
    width: 100%;
    font-size: 28pt;
    text-align: right;
    margin-top: 2%;
    white-space: nowrap;
    color: #252525;
    text-shadow: 3px 3px 5px #777;
}
.general_menu li{
    display: inline-block;
    margin-right: 2.5%;
    list-style-type: none;
}
.general_menu .current_page_item{
    font-weight: bold;
}
/* Time Line */
.timeLine{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    background: url("images/bckg_timeline.png") repeat-x center;
}
.timeLine *{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.timeLine .timeLine-prev:hover,
.timeLine .timeLine-next:hover{
    cursor: pointer;
    background-position: right;
}
.timeLine .timeLine-prev{
    width: 53px;
    background: url("images/prev.png") no-repeat left;
    border-radius: 0 50px 50px 0;
}
.timeLine .date{
    position: absolute;
    width: 102px;
    background: #252525;
    border-radius: 55px;
}
.timeLine .date:hover{
    cursor: pointer;
    background: #333;
}
.timeLine .date .date_span{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24pt;
    padding-top: 10%;
}
.timeLine .between{
    position: absolute;
    top: 27px;
    height: 51px;
    width: 51px;
    background: #252525;
    border-radius: 55px;
}

.timeLine .date_article{
    left: 10%;
}
.timeLine .between_first{
    left: 30%;
}
.timeLine .date_blog{
    left: 47%;
}
.timeLine .between_second{
    right: 30%;
}
.timeLine .date_video{
    right: 10%;
}
.timeLine .timeLine-next{
    position: absolute;
    right: 0;
    width: 53px;
    background: url("images/next.png") no-repeat left;
    border-radius: 50px 0 0 50px;
}

/* Posts */
.generalArticle .latest .spacer{
    width: 3%;
}
.generalArticle .latest .spacer,
.generalArticle .latest .preview,
.generalArticle .latest .contentThumb{
    display: inline-block;
    vertical-align: middle;
}
.generalArticle .latest .preview{
    max-width: 25%;
    height: auto;
    margin-right: 3%;
}
.generalArticle .latest .contentThumb{
    width: 66%;
}
.news_topCol{
    position: relative;
    width: 100%;
    height: 30%;
    margin: 1% auto 0 auto;
}
.latest_blog{
    width: 40%;
    height: 100%;
    /*position: absolute;*/
    position: relative;
    left: 47%;
    bottom: 0;
    margin-left: 51px;
    border-left: 2px dotted #8d9f9a;
}
.news_bottomCol{
    position: relative;
    width: 100%;
    height: 30%;
    white-space: nowrap;
}
.latest_article{
    width: 40%;
    height: 100%;
    position: relative;
    /*position: absolute;*/
    left: 10%;
    white-space: normal;
    margin-left: 51px;
    border-left: 2px dotted #8d9f9a;
}
.news_bottomCol > .spacer{
    position: absolute;
    right: 10%;
    top: 0;
    border-left: 2px dotted #8d9f9a;
    margin-right: 51px;
}
.latest_video{
    position: absolute;
    width: 40%;
    height: 100%;
    right: -27%;
    top: 0;
    white-space: normal;
}
/* article end */

/* footer start */
.generalFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    min-height: 30px;
    background: #252525;
    clear: right;
    font-size: 9pt;
    color: #6e6e6e;
}
.generalFooter img{
    position: absolute;
    height: 60%;
    top: 0;
    left: 50px;
    margin: 0;
}
.generalFooter p{
    position: absolute;
    bottom: 0;
    left: 50px;
    margin: 0;
}
/* footer end */